.body {
    display: flex;
  }
  .col-left {
    width: 20%;
    background-color: #fff;
    height: 100vh;
  }
  .col-left .header-box {
    display: flex;
    padding: 20px 15px;
    border-bottom: 1px solid #d8d8d8;
    position: relative;
    height: 70px;
  }
  .col-left .header-box::before {
    position: absolute;
    height: calc(100vh - 64px);
    right: 0px;
    border-right: 1px #e8e8e8 solid;
    content: "";
    top: 70px;
  }
  .col-left .header-box .form-input {
    margin-right: 8px;
    width: 100%;
  }
  .col-left .header-box .form-input .box-search {
    display: flex;
    border: 1px solid #eeeff2;
    font-weight: 400;
    font-size: 1em;
    letter-spacing: normal;
    line-height: 32px;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px;
    background-color: #eeeff2;
    transition: 0.3s;
  }
  .col-left .header-box .form-input .box-search:hover {
    border-color: #0091ff;
    background-color: #fff;
    transition: 0.3s;
  }
  .col-left .header-box .form-input .box-search svg {
    margin-right: 6px;
    margin-top: 7px;
    margin-left: -8px;
  }
  .col-left .header-box .form-input .box-search input {
    border: none;
    height: 30px;
    background-color: #eeeff2;
    transition: 0.3s;
    width: 100%;
  }
  .col-left .header-box .form-input .box-search input:hover {
    background-color: #fff;
    transition: 0.3s;
  }
  .col-left .nav-menu ul {
    list-style-type: none;
    padding-left: 0px;
  }
  .col-left .nav-menu ul li {
    text-decoration: none;
    font-weight: 600;
    padding: 10px 20px 10px 16px;
  }
  .col-left .nav-menu ul li.arrow {
    position: relative;
    display: inline-block;
    transition: 0.3s;
  }
  .col-left .nav-menu ul li.arrow::before {
    position: absolute;
    content: "";
    position: absolute;
    top: 18px;
    right: 5px;
    content: "";
    height: 0;
    width: 0;
    border-left: 5px solid #00000000;
    border-right: 5px solid #00000000;
    border-top: 5px solid #57576b;
  }
  .col-left .nav-menu ul li.arrow ul {
    position: absolute;
    border: 1px solid #d8d8d8;
    background-color: #fff;
    border-radius: 3px;
    padding: 0px;
    display: none;
    width: 170px;
    top: 40px;
    z-index: 9;
  }
  .col-left .nav-menu ul li.arrow ul li {
    padding: 8px 15px;
    font-weight: 400;
    transition: 0.3s;
  }
  .col-left .nav-menu ul li.arrow ul li.line {
    border-bottom: 1px solid #d8d8d8;
  }
  .col-left .nav-menu ul li.arrow ul li:hover {
    background-color: #f3f3f5;
    transition: 0.3s;
    cursor: pointer;
  }
  .col-left .nav-menu ul li.arrow:hover {
    background-color: #f3f3f5;
    transition: 0.3s;
  }
  .col-left .nav-menu ul li.arrow:hover ul {
    display: block;
  }
  .col-left .partner-box {
    margin-top: -16px;
  }
  .col-left .partner-box .title {
    font-weight: 600;
    padding: 10px 20px 10px 16px;
    border-bottom: 1px solid #f0eded;
  }
  .col-left .partner-box .partner-body {
    overflow-y: scroll;
    max-height: calc(100vh - 90px);
  }
  .col-left .partner-box .partner-body::-webkit-scrollbar {
    width: 5px;
  }
  .col-left .partner-box .partner-body::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
  }
  .col-left .partner-box .partner-body::-webkit-scrollbar-thumb {
    background: #c2c2c2;
  }
  .col-left .partner-box .partner-body::-webkit-scrollbar-thumb:hover {
    background: #777;
  }
  .col-left .partner-box .partner-body .item {
    background-color: #fefefe;
    width: 100%;
    padding: 15px;
    display: flex;
    align-items: center;
    position: relative;
    border-right: 1px #e8e8e8 solid;
  }
  .col-left .partner-box .partner-body .item::after {
    position: absolute;
    width: 30px;
    height: 30px;
    content: "";
    background: url(../images/zalo-logo.png);
    left: 5px;
    bottom: 5px;
    background-size: 100%;
  }
  .col-left .partner-box .partner-body .item .avatar {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    overflow: hidden;
  }
  .col-left .partner-box .partner-body .item .avatar img {
    width: 100%;
    height: 100%;
  }
  .col-left .partner-box .partner-body .item .snippet {
    padding-left: 8px;
    width: 80%;
  }
  .col-left .partner-box .partner-body .item .snippet .partner-name {
    font-weight: 600;
    font-size: 14px;
  }
  .col-left .partner-box .partner-body .item .snippet .message {
    font-size: 1em;
    color: #878788;
    word-wrap: break-word;
    white-space: nowrap;
    margin-top: 3px;
    display: flex;
    justify-content: space-between;
  }

  .col-left .partner-box .partner-body .item .snippet .message .noti-count{
    display: flex;
    font-size: 10px;
    width: 8px;
    min-width: 8px;
    height: 8px;
    background: red;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 50%;
  }

  .col-left .partner-box .partner-body .item .snippet .message .message-content{
    width: 90%;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
  }

  .col-left .partner-box .partner-body .item .snippet .message.reply {
    position: relative;
    padding-left: 20px;
  }
  .col-left .partner-box .partner-body .item .snippet .message.reply::before {
    position: absolute;
    top: 2px;
    left: 0;
    content: "";
    background: url("../images/main_sprites_zoa_1x.1.0.26.png") -48px -136px no-repeat;
    width: 16px;
    height: 16px;
  }
  .col-left .partner-box .partner-body .item .snippet .tag {
    margin-top: 6px;
  }
  .col-left .partner-box .partner-body .item .snippet .tag .item-tag {
    padding: 2px 4px;
    border-radius: 2px;
  }
  .col-left .partner-box .partner-body .item:hover {
    cursor: pointer;
    background-color: #e5ecf1;
  }
  .col-left .partner-box .partner-body .item .item-timestamp {
    position: absolute;
    top: 10px;
    color: #57576b;
    font-size: 11px;
    right: 5px;
  }
  .col-center {
    width: 55%;
    background-color: #fff;
    position: relative;
  }
  .col-center .heading {
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #d8d8d8;
    height: 70px;
    display: flex;
    justify-content: space-between;
  }
  .col-center .heading .user-current {
    display: flex;
    padding: 10px 0px 10px 20px;
  }
  .col-center .heading .user-current .avatar {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    overflow: hidden;
  }
  .col-center .heading .user-current .avatar img {
    width: 100%;
  }
  .col-center .heading .user-current .snippet {
    padding-left: 12px;
  }
  .col-center .heading .user-current .snippet .nickname {
    font-weight: 600;
    font-size: 18px;
  }
  .col-center .heading .user-current .snippet .edit-nickname svg {
    margin-top: -3px;
    margin-left: 2px;
  }
  .col-center .heading .user-current .snippet .container-name-tag {
    display: flex;
  }
  .col-center .heading .user-current .snippet .container-name-tag .exact-name {
    position: relative;
    padding: 0px 8px;
    color: #57576b;
    font-size: 13px
  }
  .col-center .heading .user-current .snippet .container-name-tag .exact-name::after {
    position: absolute;
    left: 0px;
    content: "(";
  }
  .col-center .heading .user-current .snippet .container-name-tag .exact-name::before {
    position: absolute;
    right: 0px;
    content: ")";
  }
  .col-center .heading .user-current .snippet .container-name-tag .tag-status {
    margin-left: 12px;
  }
  .col-center .heading .user-current .snippet .container-name-tag .tag-status .tag {
    position: relative;
  }
  .col-center .heading .user-current .snippet .container-name-tag .tag-status .tag:hover ul {
    display: block;
    transition: 0.3s;
  }
  .col-center .heading .user-current .snippet .container-name-tag .tag-status .tag .tag-active {
    padding: 6px 40px 6px 8px;
    background-color: red;
    color: #fff;
    border-radius: 3px;
    position: relative;
  }
  .col-center .heading .user-current .snippet .container-name-tag .tag-status .tag .tag-active::before {
    position: absolute;
    content: '';
    width: 8px;
    height: 8px;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    right: 18px;
    top: 7px;
    rotate: 45deg;
  }
  .col-center .heading .user-current .snippet .container-name-tag .tag-status .tag ul {
    display: none;
    transition: 0.3s;
    list-style-type: none;
    padding-left: 16px;
    background-color: #fff;
    border: 1px solid #d8d8d8;
    border-radius: 3px;
    padding: 10px;
    position: absolute;
    z-index: 10;
    content: "";
    top: 30px;
    width: 170px;
  }
  .col-center .heading .user-current .snippet .container-name-tag .tag-status .tag ul li {
    height: 22px;
    background: #f6f6f7;
    border-radius: 2px;
    padding: 2px 5px;
    margin-bottom: 5px;
  }
  .col-center .heading .user-current .snippet .container-name-tag .tag-status .tag ul li:last-child {
    margin-bottom: 0px;
  }
  .col-center .heading .user-current .snippet .container-name-tag .tag-status .tag ul li .tag-theme {
    display: inline-block;
    width: 16px;
    height: 8px;
    position: relative;
  }
  .col-center .heading .user-current .snippet .container-name-tag .tag-status .tag ul li .tag-theme::before {
    position: absolute;
    content: "";
    rotate: 45deg;
    right: -3px;
    width: 8px;
    border-bottom: 4px #f6f6f7 solid;
  }
  .col-center .heading .user-current .snippet .container-name-tag .tag-status .tag ul li .tag-theme::after {
    position: absolute;
    content: "";
    width: 10px;
    top: 6px;
    right: -2px;
    border-bottom: 4px #f6f6f7 solid;
    rotate: 135deg;
  }
  .col-center .heading .user-current .snippet .container-name-tag .tag-status .tag ul li.active {
    position: relative;
  }
  .col-center .heading .user-current .snippet .container-name-tag .tag-status .tag ul li.active::before {
    position: absolute;
    content: "";
    top: 4px;
    right: 27px;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    width: 6px;
    height: 10px;
    rotate: 45deg;
  }
  .col-center .heading .user-action {
    display: none;
    transition: 0.2s;
  }
  .col-center .heading .user-action .list-action {
    display: flex;
    align-items: center;
    height: 100%;
  }
  .col-center .heading .user-action .list-action .item-action {
    margin-right: 20px;
  }
  .col-center .heading .user-action .list-action .action-orther {
    cursor: pointer;
  }
  .col-center .section-body {
    background-color: #e0e8ef;
  }
  .col-center .section-body.quote-show {
    padding-bottom: 150px;
  }
  .col-center .section-body::-webkit-scrollbar {
    width: 5px;
  }
  .col-center .section-body::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
  }
  .col-center .section-body::-webkit-scrollbar-thumb {
    background: #c2c2c2;
  }
  .col-center .section-body::-webkit-scrollbar-thumb:hover {
    background: #777;
  }
  .col-center .section-body .section-post {
    display: block;
    overflow: hidden scroll;
    height: calc(100vh - 180px);
  }
  .col-center .section-body .section-post .section-item {
    position: relative;
    display: flex;
    padding: 12px 36px;
  }
  .col-center .section-body .section-post .section-item .avatar {
    overflow: hidden;
  }
  .col-center .section-body .section-post .section-item .avatar.avatar--sm {
    width: 36px;
    height: 36px;
    min-width: 36px;
    border-radius: 18px;
  }
  .col-center .section-body .section-post .section-item .avatar.avatar--sm img {
    width: 100%;
  }
  .col-center .section-body .section-post .section-item .item-content {
    margin-left: 12px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1 1 100%;
  }
  .col-center .section-body .section-post .section-item .item-content .item-headline {
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 5px
  }
  .col-center .section-body .section-post .section-item .item-content .snippet .message-container:hover .item-message .react_emoi {
    display: block;
  }
  .col-center .section-body .section-post .section-item .item-content .snippet .message-container .item-message {
    position: relative;
    background-color: #fff;
    margin-bottom: 5px;
    padding: 12px;
    color: #191919;
    font-size: 15px;
    word-wrap: break-word;
    box-shadow: 0px 1px 1px #cfd2d9;
    display: inline-block;
    border-radius: 10px;
    max-width: 600px;
  }


  .col-center .section-body .section-post .section-item .item-content .snippet .message-container .item-message.sticker {
    background: none !important;
    box-shadow: none !important;
  }

  .item-content .snippet .message-container .item-message.image{
    width: 60%;
  }


  .col-center .section-body .section-post .section-item .item-content .snippet .message-container .item-message.active-emoji .show-emoji {
    display: flex;
    position: relative;
    top: 2px;
    right: 0;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding-top: 5px;
    padding-right: 28px;
  }
  .col-center .section-body .section-post .section-item .item-content .snippet .message-container .item-message.active-emoji .show-emoji .ic_emoji {
    padding: 0px 5px;
  }
  .col-center .section-body .section-post .section-item .item-content .snippet .message-container .item-message.active-emoji .show-emoji .ic_emoji .reaction-emoji-icon {
    width: 16px;
    height: 16px;
    margin: 3px;
  }
  .col-center .section-body .section-post .section-item .item-content .snippet .message-container .item-message.active-emoji .show-emoji .ic_emoji .reaction-emoji-icon .emoi {
    width: 16px;
    height: 16px;
  }
  .col-center .section-body .section-post .section-item .item-content .snippet .message-container .item-message.active-emoji .show-emoji .count {
    display: block;
    width: auto;
    line-height: 22px;
    text-align: center;
    font-size: 13px;
  }
  .col-center .section-body .section-post .section-item .item-content .snippet .message-container .item-message.active-emoji .react_emoi {
    bottom: -65px;
    right: 8px;
    display: block;
  }
  .col-center .section-body .section-post .section-item .item-content .snippet .message-container .item-message.active-emoji .react_emoi .icon_emoi {
    padding: 4px 3px;
    width: 24px;
    height: 24px;
  }
  .col-center .section-body .section-post .section-item .item-content .snippet .message-container .item-message.active-emoji .react_emoi .icon_emoi .icon-active {
    width: 16px;
    height: 16px;
  }
  .col-center .section-body .section-post .section-item .item-content .snippet .message-container .item-message.active-emoji .react_emoi .icon_emoi .icon-active .emoi {
    width: 16px;
    height: 16px;
  }
  .col-center .section-body .section-post .section-item .item-content .snippet .message-container .item-message.photo img {
    width: 100%;
    object-fit: contain;
    filter: none;
    opacity: 1;
    max-width: 100%;
    max-height: 240px;
    height: auto;
    margin: 0;
    cursor: pointer;
  }
  .col-center .section-body .section-post .section-item .item-content .snippet .message-container .item-message .qoute-content {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #e3f2fa;
    border-radius: 8px;
    color: #444;
    font-size: 13px;
    margin-bottom: 8px;
    position: relative;
    padding: 12px 12px 12px 25px;
    flex-direction: column;
    align-items: flex-start;
    cursor: pointer;
  }
  .col-center .section-body .section-post .section-item .item-content .snippet .message-container .item-message .qoute-content .line {
    position: absolute;
    width: 2px;
    top: 12px;
    bottom: 12px;
    left: 12px;
    background: #3989ff;
  }
  .col-center .section-body .section-post .section-item .item-content .snippet .message-container .item-message .more {
    position: absolute;
    bottom: 8px;
    display: none;
    z-index: 10;
    left: unset;
    right: -10px;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    padding: 0 4px;
    background: #fff;
    border-radius: 4px;
  }
  .col-center .section-body .section-post .section-item .item-content .snippet .message-container .item-message .more .inner {
    display: flex;
  }
  .col-center .section-body .section-post .section-item .item-content .snippet .message-container .item-message .more .inner .btn_quote {
    position: relative;
  }
  .col-center .section-body .section-post .section-item .item-content .snippet .message-container .item-message .more.show {
    display: block;
  }
  .col-center .section-body .section-post .section-item .item-content .snippet .message-container .item-message .react_emoi {
    position: absolute;
    top: 100%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: none;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    z-index: 99;
    right: 15px;
  }
  .col-center .section-body .section-post .section-item .item-content .snippet .message-container .item-message .react_emoi:hover .list_emoi {
    display: block;
  }
  .col-center .section-body .section-post .section-item .item-content .snippet .message-container .item-message .react_emoi .icon_emoi {
    background: #fff;
    border-radius: 100%;
    padding: 5px;
    text-align: center;
    cursor: pointer;
    border: 0.5px solid #ccc;
    background-color: #fff;
    z-index: 11;
    display: block;
  }
  .col-center .section-body .section-post .section-item .item-content .snippet .message-container .item-message .react_emoi .icon_emoi .icon_heart {
    background-size: 15px;
    display: block;
    width: 15px;
    height: 15px;
    background-position: 50%;
    background-repeat: no-repeat;
    background-image: url("../images/icon_heart.svg");
  }
  .col-center .section-body .section-post .section-item .item-content .snippet .message-container .item-message .react_emoi .list_emoi {
    padding-bottom: 5px;
    position: absolute;
    left: -92px;
    top: -41px;
    display: none;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    min-width: 236px;
    z-index: 11;
  }
  .col-center .section-body .section-post .section-item .item-content .snippet .message-container .item-message .emoji-img {
    display: inline-block;
    vertical-align: middle;
    max-height: 20px;
  }
  .col-center .section-body .section-post .section-item .item-content .section-ts {
    width: 100%;
    color: #9ea5ae;
    font-size: 10px;
    word-wrap: break-word;
  }
  .col-center .section-body .section-post .section-item .item-content .section-ts .time {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-left: 8px;
    margin-left: 2px;
    position: relative;
  }
  .col-center .section-body .section-post .section-item .item-content .section-ts .time::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 3px;
    width: 3px;
    background-color: #aaa;
    border-radius: 50%;
  }
  .col-center .section-body .section-post .section-item.me {
    flex-direction: row-reverse;
  }
  .col-center .section-body .section-post .section-item.me .item-content {
    text-align: end;
    margin-right: 12px;
  }
  .col-center .section-body .section-post .section-item.me .item-content .snippet .message-container .item-message {
    background-color: #bae2f9;
    margin-left: auto;
  }
  .col-center .section-body .section-post .section-item.me .item-content .snippet .message-container .item-message .more {
    right: inherit;
    left: -10px;
    transform: translateX(-100%);
  }
  .col-center .section-body .section-post .section-item.me .item-content .snippet .message-container .item-message .react_emoi {
    left: 15px;
    right: auto;
  }
  .col-center .section-body .section-post .section-item.me .item-content .snippet .message-container .item-message.phanhoi {
    background-color: #f1f8e9;
  }
  .col-center .section-body .section-post .section-item.me .item-content .snippet .message-container .item-message.active-emoji .show-emoji {
    justify-content: flex-start;
    left: 30px;
  }
  .col-center .section-compose {
    width: 100%;
    min-height: 70px;
    position: absolute;
    left: 0;
    right: 0;
    background: #fff;
    border-left: 1px solid #eaeaea;
    z-index: 1;
  }

  #data-message-send{
    border: none;
    outline: none;
  }

  .col-center .section-compose .add-msg-box {
    position: relative;
    z-index: 3;
    background-color: #fff;
  }
  .col-center .section-compose .add-msg-box .add-msg-box-func {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 8px 12px;
  }
  .col-center .section-compose .add-msg-box .add-msg-box-func .chat_item {
    position: relative;
  }
  .col-center .section-compose .add-msg-box .add-msg-box-func .chat_item .icon {
    cursor: pointer;
    width: 40px;
    height: 41px;
    padding: 10px;
    border-radius: 4px;
    margin-right: 12px;
    transition: 0.2;
  }
  .col-center .section-compose .add-msg-box .add-msg-box-func .chat_item .icon:hover {
    background-color: #ebebeb;
    transition: 0.2;
  }
  .col-center .section-compose .add-msg-box .add-msg-box-func .chat_item .popover {
    bottom: 42px;
    top: unset;
    height: 250px;
    min-width: 380px;
    z-index: 9999;
    transition: 0.2s;
  }
  .col-center .section-compose .add-msg-box .add-msg-box-func .chat_item .popover .popover-container {
    position: relative;
    background-color: #fff;
  }
  .col-center .section-compose .add-msg-box .add-msg-box-func .chat_item .popover .popover-container .heading-group {
    position: relative;
    background-color: #fff;
    vertical-align: middle;
    border-bottom: 1px solid #eee;
  }
  .col-center .section-compose .add-msg-box .add-msg-box-func .chat_item .popover .popover-container .group-emoji .default-sticker ul {
    list-style-type: none;
    display: flex;
    padding-left: 0px;
    margin: 0px;
    overflow-x: scroll;
  }
  .col-center .section-compose .add-msg-box .add-msg-box-func .chat_item .popover .popover-container .group-emoji .default-sticker ul::-webkit-scrollbar {
    height: 5px;
  }
  .col-center .section-compose .add-msg-box .add-msg-box-func .chat_item .popover .popover-container .group-emoji .default-sticker ul::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
  }
  .col-center .section-compose .add-msg-box .add-msg-box-func .chat_item .popover .popover-container .group-emoji .default-sticker ul::-webkit-scrollbar-thumb {
    background: #c2c2c2;
  }
  .col-center .section-compose .add-msg-box .add-msg-box-func .chat_item .popover .popover-container .group-emoji .default-sticker ul::-webkit-scrollbar-thumb:hover {
    background: #777;
  }
  .col-center .section-compose .add-msg-box .add-msg-box-func .chat_item .popover .popover-container .group-emoji .default-sticker ul li {
    padding: 5px;
    border-right: 1px solid #eee;
  }
  .col-center .section-compose .add-msg-box .add-msg-box-func .chat_item .popover .popover-container .content-group .content-group-inside .emoji-preview {
    list-style-type: none;
    display: inline-block;
    max-height: 185px;
    overflow: auto;
    padding: 5px 30px;
    cursor: auto;
  }
  .col-center .section-compose .add-msg-box .add-msg-box-func .chat_item .popover .popover-container .content-group .content-group-inside .emoji-preview::-webkit-scrollbar {
    width: 5px;
  }
  .col-center .section-compose .add-msg-box .add-msg-box-func .chat_item .popover .popover-container .content-group .content-group-inside .emoji-preview::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
  }
  .col-center .section-compose .add-msg-box .add-msg-box-func .chat_item .popover .popover-container .content-group .content-group-inside .emoji-preview::-webkit-scrollbar-thumb {
    background: #c2c2c2;
  }
  .col-center .section-compose .add-msg-box .add-msg-box-func .chat_item .popover .popover-container .content-group .content-group-inside .emoji-preview::-webkit-scrollbar-thumb:hover {
    background: #777;
  }
  .col-center .section-compose .add-msg-box .add-msg-box-func .chat_item .popover .popover-container .content-group .content-group-inside .emoji-preview li {
    float: left;
    width: 12.5%;
  }
  .col-center .section-compose .add-msg-box .add-msg-box-func .chat_item .popover .popover-container .content-group .content-group-inside .emoji-preview li .item-emoji {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
  }
  .col-center .section-compose .add-msg-box .add-msg-box-func .chat_item .popover .popover-container .content-group .content-group-inside .emoji-preview li .item-emoji img {
    width: auto;
    max-width: 28px;
    height: 26px;
  }
  .col-center .section-compose .add-msg-box .add-msg-box-func .chat_item .popover .popover-container .content-group .content-group-inside .emoji-preview li .item-emoji:hover {
    background-color: #fff;
    cursor: pointer;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  }
  .col-center .section-compose .add-msg-box .add-msg-box-func .chat_item .popover .popover-container .content-group .content-group-inside .emoji-preview li.sticker-item {
    padding: 5px 9px;
    transition: 0.2s;
    width: unset;
  }
  .col-center .section-compose .add-msg-box .add-msg-box-func .chat_item .popover .popover-container .content-group .content-group-inside .emoji-preview li.sticker-item:hover {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    transition: 0.2s;
    cursor: pointer;
  }
  .col-center .section-compose .add-msg-box .add-msg-box-func .chat_item .popover .popover-container .content-group .content-group-inside .emoji-preview li.sticker-item img {
    width: 60px;
    height: auto;
  }
  .col-center .section-compose .add-msg-box .add-msg-box-txtArea {
    position: relative;
    padding: 12px 12px 10px;
    border-top: 1px solid #989bae;
  }
  .col-center .section-compose .add-msg-box .add-msg-box-txtArea .textarea {
    display: block;
    width: 100%;
    color: #000;
    font-size: 13px;
    padding: 8px 0;
    min-height: 40px;
    word-break: break-all;
    line-height: 24px;
    word-break: break-word;
    word-wrap: break-word;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0;
    resize: none;
    overflow: hidden;
  }

  input{
    border: 0;
    resize: none;
    outline: none;
  }

  .col-center .section-compose .add-msg-box .add-msg-box-txtArea .content_send {
    position: absolute;
    top: 0;
    right: 12px;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 83px;
  }
  .col-center .section-compose .add-msg-box .add-msg-box-txtArea .content_send .btn_send {
    color: #008fe5;
    font-weight: 500;
    cursor: pointer;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    pointer-events: none;
  }
  .col-right {
    width: 25%;
    background-color: #fff;
  }
  .col-right .header-box {
    padding: 20px 15px;
  }
  .col-right .header-box ul {
    list-style-type: none;
    display: flex;
    padding-left: 0px;
    justify-content: center;
  }
  .col-right .header-box ul li {
    padding: 5px 20px;
    text-transform: capitalize;
    font-size: 12px;
    font-weight: 600;
    color: #243742;
    border: 1px #243742 solid;
    border-left: none;
    cursor: pointer;
  }
  .col-right .header-box ul li:first-child {
    border-left: 1px #243742 solid;
    border-top-left-radius: 3x;
    border-bottom-left-radius: 3px;
  }
  .col-right .header-box ul li:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  .content_mess_input {
    padding-right: 80px;
    position: relative;
  }
  .z_3CGdYat9__40e7 {
    border-radius: 4px;
    overflow: hidden;
    background-color: #fff !important;
    border: 1px solid #ddd;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-weight: 400 !important;
  }
  .icon_bar {
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    width: 20px;
    height: 21px;
    display: block;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  .icon_bar.icon_text {
    background-image: url(https://stc-oa-chat-adm.zdn.vn/images/chat_bar/chat_text.svg);
  }
  .icon_bar.icon_sticker {
    background-image: url(https://stc-oa-chat-adm.zdn.vn/images/chat_bar/chat_sticker.svg);
  }
  .icon_bar.icon_image {
    background-image: url(https://stc-oa-chat-adm.zdn.vn/images/chat_bar/chat_image.svg);
  }
  .icon_bar.icon_image.on {
    background-image: url(https://stc-oa-chat-adm.zdn.vn/images/chat_bar/chat_image_on.svg);
  }
  .icon_bar.icon_video {
    background-image: url(https://stc-oa-chat-adm.zdn.vn/images/chat_bar/chat_video.svg);
  }
  .icon_bar.icon_video.on {
    background-image: url(https://stc-oa-chat-adm.zdn.vn/images/chat_bar/chat_video_on.svg);
  }
  .icon_bar.icon_file {
    background-image: url(https://stc-oa-chat-adm.zdn.vn/images/chat_bar/chat_file.svg);
  }
  .icon_bar.icon_file.on {
    background-image: url(https://stc-oa-chat-adm.zdn.vn/images/chat_bar/chat_file_on.svg);
  }
  .truncate {
    width: 100%;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
  }
  .bg-red {
    background-color: red;
  }
  .bg-green {
    background-color: green;
  }
  .bg-blue {
    background-color: blue;
  }
  .icon-slide {
    display: block;
    width: 23px;
    height: 24px;
    background-image: url("../images/sidebar.png");
  }
  .icon_bar {
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    width: 20px;
    height: 21px;
    display: block;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  .icon_bar.on {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    opacity: 0;
  }
  .icon_bar.icon_quote {
    background-image: url("../images/icon_quote.svg");
  }
  .icon_bar.icon_quote:hover {
    background-image: url("../images/icon_quote_on.svg");
  }
  .icon_bar.icon_quote.on {
    background-image: url("../images/icon_quote_on.svg");
  }
  .icon_bar.icon_dot {
    background-image: url("../images/icon_dot.svg");
  }
  .icon_bar.icon_dot:hover {
    background-image: url("../images/icon_dot_on.svg");
  }
  .icon_bar.icon_dot.on {
    background-image: url("../images/icon_dot_on.svg");
  }
  .icon_bar.icon_close {
    background-image: url("../images/icon_close.svg");
  }
  .icon_bar.icon_quote_black {
    background-image: url("../images/icon_quote_black.svg");
  }
  .emoi:not(.icon_like) {
    display: inline-block;
    overflow: hidden;
    letter-spacing: 50px;
    color: transparent;
    text-shadow: none;
    width: 22px;
    height: 22px;
    background-image: url(https://stc-oa-chat-adm.zdn.vn/images/react/emoji.png);
    margin-bottom: 2px;
    position: relative;
    top: 0;
    -webkit-user-drag: none;
    background-size: 5100%;
  }
  .ic_emoji {
    display: flex;
    opacity: 0.95;
    border-radius: 20px;
    padding: 0px 10px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    background-color: #fff;
  }
  .reaction-emoji-icon {
    margin: 8px 7px 6px;
    position: relative;
    width: 22px;
    height: 22px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  .reaction-emoji-icon:hover .emoi {
    zoom: 1.15;
    transition: all 0.3s;
  }
  .emoi:not(.icon_like) {
    display: inline-block;
    overflow: hidden;
    letter-spacing: 50px;
    color: transparent;
    text-shadow: none;
    width: 22px;
    height: 22px;
    background-image: url("../images/emoji.png");
    margin-bottom: 2px;
    position: relative;
    top: 0;
    -webkit-user-drag: none;
    background-size: 5100%;
  }
  .emoi.like {
    background-position: 84% 82.5%;
  }
  .emoi.heart {
    background-position: 84% 72.5%;
  }
  .emoi.fun {
    background-position: 82% 7.5%;
  }
  .emoi.surprise {
    background-position: 84% 20%;
  }
  .emoi.cry {
    background-position: 84% 2.5%;
  }
  .emoi.angry {
    background-position: 84% 5%;
  }
  .app__quote-content {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-left: 12px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .app__quote-content .user-name {
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
  }
  .app__quote-content .user-content {
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .popover {
    display: none;
  }
  .section-timestamp {
    position: relative;
    padding: 12px 20px;
    text-align: center;
  }
  .section-timestamp::after {
    position: absolute;
    top: 50%;
    left: 55px;
    right: 55px;
    content: "";
    background-color: #abb1bd;
    width: auto;
    height: 1px;
    opacity: 0.5;
  }
  .section-timestamp span {
    display: inline-block;
    position: relative;
    z-index: 1;
    background-color: #abb1bd;
    height: 22px;
    line-height: 22px;
    padding: 0 15px;
    color: #fff;
    font-size: 0.875em;
    font-weight: 400;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
  }
  .preview_mess {
    background: #f5f5f5;
    border-radius: 4px;
    padding: 10px 20px;
    position: relative;
    margin-bottom: 8px;
  }
  .preview_mess::before {
    position: absolute;
    content: "";
    top: 10px;
    bottom: 10px;
    left: 10px;
    width: 2px;
    background: #008fe5;
  }
  .preview_mess .icon_close {
    position: absolute;
    top: 8px;
    right: 12px;
    width: 16px;
    height: 16px;
  }
  .preview_mess .wrap {
    display: flex;
  }
  .preview_mess .wrap .content_mess {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    min-width: 0;
  }
  .preview_mess .wrap .content_mess .reply_name {
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .preview_mess .wrap .content_mess .reply_name .icon_bar {
    width: 11px;
  }
  .preview_mess .wrap .content_mess .reply_name span {
    display: block;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.1px;
    color: #444;
    padding-left: 4px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    min-width: 0;
  }
  .preview_mess .wrap .content_mess .reply_text {
    font-size: 13px;
    line-height: 17px;
    letter-spacing: -0.0866667px;
    color: #989bae;
  }
  .modal-container {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    top: 0;
    left: 0;
    display: none;
    transition: 0.2s;
  }
  .modal-container.show {
    display: block;
    transition: 0.2s;
  }
  .modal-container .fade {
    position: absolute;
    background-color: #333;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .modal-container .close-modal {
    position: absolute;
    background-color: #111;
    width: 45px;
    height: 45px;
    top: 0;
    border-radius: 0px 0px 0px 40px;
    right: 0;
    cursor: pointer;
  }
  .modal-container .close-modal .icon-close {
    position: relative;
    display: block;
  }
  .modal-container .close-modal .icon-close::before {
    position: absolute;
    width: 18px;
    height: 3px;
    content: "";
    rotate: 45deg;
    background-color: #ececec;
    right: 7px;
    top: 18px;
  }
  .modal-container .close-modal .icon-close::after {
    position: absolute;
    width: 18px;
    height: 3px;
    content: "";
    rotate: 135deg;
    background-color: #ececec;
    right: 7px;
    top: 18px;
  }
  .modal-container .data-body {
    max-width: 1200px;
    margin: 20px auto;
    display: contents;
  }
  .modal-container .data-body img {
    height: calc(100vh - 80px);
    max-width: 60%;
    display: block;
    margin: 20px auto;
  }
  .modal-container .modal-action {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: 0;
    padding: 10px;
  }
  .modal-container .modal-action .btn-action:hover {
    background-color: #111;
    transition: 0.2s;
    cursor: pointer;
  }
  .modal-container .modal-action .btn-download {
    width: 35px;
    height: 35px;
    background-color: #444;
    padding: 5px 8px;
    border-radius: 50%;
    color: #fff;
    transition: 0.2s;
  }
  .group-emoji {
    background-color: #fafafa;
  }
  .emoji-img {
    display: inline-block;
    vertical-align: middle;
    max-height: 20px;
  }
  
  .input-file{
    overflow: hidden;
    display:none;
  }